mixin box_breadcrumb()
  .box-breadcrumb
    .inner-image
      img(
        alt=detailedCategory.name
        src=detailedCategory.avatar
        )
    .inner-content
      .container
        h1.inner-title #{detailedCategory.name}
        .inner-list
          a(href="/") Trang Chủ
          each item in breadcrumbList
            a(href=`/category/${item.slug}`) #{item.name}
